@font-face {
    font-family : "VCR OSD Mono";
    src         : url(/computerlingsdb/assets/fonts/VCR_OSD_MONO_1.001.ttf) format("truetype");
    src         : url(/computerlingsdb/assets/fonts/VCR_OSD_MONO_1.001.otf) format("opentype");
    src         : url(/computerlingsdb/assets/fonts/VCR_OSD_MONO_1.001.woff2) format("woff2");
    font-weight : normal;
}
   
:root {
  --standard_image_size: 200px;
  --standard_padding: 8px;
}
* {
  font-family: "VCR OSD Mono","Segoe UI",system-ui;
}
body {
  margin:0; /* Set as 0 by default so the navbar stays fixed on top*/
  background-color: white;
  color: black;
  font-family: "VCR OSD Mono","Segoe UI";
}

h1, h2, h3, p, .returnbtn{
  margin: 10px;
}

.notfound{
  margin-top:20px;
  display:grid;
  place-items:center;
}
.notfound h1{
  font-size:50px;
}
.notfound p{
  font-size: 20px;
}

.returnbtn{
  background-color:#7cbde9;
  color:black;
  border-radius: 10px;
  padding:10px;
  text-decoration: none;
}
.returnbtn:hover{
  color:white;
  background-color:#304a5c;
  transition:0.2s;
}

/* Styling for the navbar*/
.navbar{
  display:flex;
  align-items:center;
  background-color:#7cbde9;
  padding: 0 2%;
  height:70px;
  gap:15px;
}

table, td {
  margin:10px;
  border      : 1px solid black;
  text-align  : center;
  
}
#dbHEADER > td {
  font-weight : bold;
}
img.photo {
  width       : var(--standard_image_size);
  height      : var(--standard_image_size);
  margin      : 0;
  display     : block;
}
td.photo {
  padding     : 0;
}
td.name {
  padding     : var(--standard_padding);
}
td.owner {
  padding     : var(--standard_padding);
}
td.account {
  padding     : var(--standard_padding);
}
td.account a{
  background-color:#7cbde9;
  color:black;
  border-radius: 10px;
  padding:10px;
  text-decoration: none;
}
td.account a:hover{
  color:white;
  background-color:#304a5c;
  transition:0.2s;
}
td.typing {
  padding     : var(--standard_padding);
}
td.status {
  padding     : var(--standard_padding);
  max-width   : 150px;
  word-wrap   : normal;
  text-align  : center;
}
td.INVALID {
  padding     : var(--standard_padding);
  background  : red;
  font-weight : bold;
}
.INVALID {
  background  : #7F0000;
  font-weight : bold;
  color       : #FFF;
}
