@font-face {
    font-family : "VCR OSD Mono";
    src         : url(./assets/fonts/VCR_OSD_MONO_1.001.ttf) format("truetype");
    src         : url(./assets/fonts/VCR_OSD_MONO_1.001.otf) format("opentype");
    src         : url(./assets/fonts/VCR_OSD_MONO_1.001.woff2) format("woff2");
    font-weight : normal;
}
   
:root {
  --db_width            : 100px;
  --p_width             : 400px;
  --standard_image_size : calc(var(--db_width) * 0.125);
  --standard_padding    : 8px;
  --blue                : #7cbde9;
  --dark                : #3664a4;
  --light               : #b8dff3;
  --lighter              : #e6f4fa;
  --entrykey_maxwidth   : 1200px;
  --one-cell            : calc(var(--db_width) * 0.1);
  --two-cell            : calc(var(--db_width) * 0.2);
  --font-size-all       : clamp(0.4rem, 1vw, 1rem);
  --font-size_td        : clamp(0.4rem, 1vw, 1rem);
  --font-size-link      : clamp(0.4rem, 0.8vw, 1rem);
  --font-size-search    : 0.95rem;
  --search_bar_height   : 58px;
  --border              : 1px solid #000;
  --border_db           : 1px solid #000;
  --form_padding        : 40px;
}
* {
  font-family: "VCR OSD Mono","Segoe UI",system-ui;
}
body {
  margin:0; /* Set as 0 by default so the navbar stays fixed on top*/
  background-color: white;
  color: black;
  font-family: "VCR OSD Mono","Segoe UI";
  font-size: var(--font-size-all)
}

h1, h2, h3, p, .returnbtn{
  margin: 10px;
}
/* 404: ERROR PAGE CSS */
.notfound{
  margin-top:20px;
  display:grid;
  place-items:center;
}
/* 404: ERROR PAGE & Petition Form CSS*/
.notfound, .petitions h1{
  font-size:50px;
}
.notfound, .petitions p{
  font-size: 20px;
}
/* Petition Form CSS */
.petitions{
  margin-top:30px;
  gap:15px;
  display:grid;
  place-items:center;
  min-width: 300px;
}
.petitions > form {
  width: var(--p_width);
  box-sizing: border-box;
}
textarea.key {
  font-size: 14px;
  text-align: center;
  resize      : none;
  overflow-x: scroll;
  height: 10vh;
  resize      : vertical;
  min-width: 100%;
  max-width: var(--entrykey_maxwidth);
  box-sizing: border-box;
}
form {
  display: flex;
  flex-direction:column;
  border: var(--border);
  padding: var(--form_padding);
  border-radius: 10px;
  background-color:#c4dbeb;
}
.input_container {
  display: flex;
  flex-direction: column;
  font-size: clamp(0.4rem, 2vh, 1rem);
  border: var(--border);
  padding: 3%;
  border-radius: 5px;
  background-color: #e9f5fc;
  margin-bottom: 0.5vh;
  align-items: stretch;
}
form > h3 {
  text-align: center;
  font-size: 3vh;
}
article.input_container > label {
  font-size: clamp(0.8rem, 2vw, 1.5rem);
  font-weight: bold;
  margin-bottom: 1vh;
}
.input_container > h3 {
  text-align: center;
  font-size: 3vh;
}
.little_text { /* Little text that describes what to input under each field in the Petitions Form.*/
  font-size: clamp(0.4rem, 1vw, 1rem);
  font-weight: normal;
  word-wrap: normal;
  margin-block-start: 0px;
  margin-block-end: 4px;
  text-align: left;
}
.info {
  border: var(--border);
  padding: 4%;
  border-radius: 5px;
  background-color: #e9f5fc;
}
article { /* Styles for the instructions on the petition form.*/
  border: var(--border);
  padding:10px;
  border-radius: 10px;
  background-color:#e9f5fc;
}
article > ol {
  margin-block: 4px;
}
article > ol > li {
  font-size: 12px;
}
article > span {
  font-size: 15px;
  font-weight: bold;
}
span > ul {
  margin-block: 2px;
}
input[type=text], select, input[type="button"], button, textarea{ /* Styles for the textboxes, dropdown and button on the form */
  border-radius:5px;
  border: var(--border);
  height: 30px;
}
input[type="button"]{ /* Styles for the button */
  background-color:#6cb5e6;
  cursor: pointer;
  border: var(--border);
}
input[type="button"]:hover{ /* Styles for the button, when hovering on it */
  background-color:#304a5c;
  border-color: #304a5c;
  transition:0.2s;
  color:white;
}
button{
  background-color:#6cb5e6;
  cursor: pointer;
  border: var(--border); 
}
button:hover{
  background-color:#304a5c;
  border-color: #304a5c;
  transition:0.2s;
  color:white;
  border: 1px solid white;
}
.returnbtn{ /* Styles for the button in the error page (return to home button) */
  background-color: var(--blue);
  color:black;
  border-radius: 10px;
  padding:10px;
  text-decoration: none;
}
.returnbtn:hover{
  color:white;
  background-color: var(--dark);
  transition:0.2s;
}
.required2::before {
  content: "*";
  color: red;
}
.required::after {
  content: "*";
  color: red;
}
/* Styling for where the entry key gets output */
#search_machine {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: sticky;
  top: 0px;
  border: var(--border);
  padding: 8px;
  border-radius: 10px;
  background-color:#c4dbeb;
}
input.search_bar {
  height: 40px;
  width: 40%;
  box-sizing: border-box;
}
.search_by, .search_bar, .search_button, .dialogue {
  font-size : var(--font-size-search);
  font-weight: normal;
  min-height: 40px;
  max-height: 40px;
  align-self: center;
  padding   : 1vh;
}
.dialogue {
  line-height: 24px;
  font-weight: normal;
  box-sizing: border-box;
  font-size: var(--font-size-search);
  border: var(--border);
  padding: 8px;
  border-radius: 10px;
  background-color:#e9f5fc;
  min-width : 20vw;
  width     : 100%;
  margin-left: 10px;
}
/* Styling for the navbar*/
.navbar{
  display:flex;
  flex-direction: row;
  align-items:center;
  background-color: var(--blue);
  padding: 0 1%;
  height:70px;
  gap:15px;
  justify-content: space-between;
}
.navbar > div {
  display: flex;
  flex-direction: row;
  vertical-align: middle;
}
.navbar > .logo > a {
  margin: 0px 4px 0px;
  
}
.navbar > .navbuttons > a {
  margin: 0px 4px 0px;
}
.infolink{
  background-color: var(--blue);
  color:black;
  border-radius: 5px;
  padding:2.5px;
  text-decoration: none;
}
.infolink:hover{
  color:white;
  background-color: var(--dark);
  transition:0.2s;
}
/* Button to access the petition.html / petition form */
.petitionbtn{
  margin-left: 0;
  background-color: var(--dark);
  color:white;
  border-radius: 10px;
  padding:10px;
  text-decoration: none;
}
.petitionbtn:hover{
  background-color:#23416b;
  transition:0.2s;
}

.infobtn{
  background-color: var(--dark);
  color:white;
  border-radius: 10px;
  padding:10px;
  text-decoration: none;
}
.infobtn:hover{
  background-color:#23416b;
  transition:0.2s;
}

.infobtnptn{
  margin-left: 85vh;
  background-color: var(--dark);
  color:white;
  border-radius: 10px;
  padding:10px;
  text-decoration: none;
}
.infobtnptn:hover{
  background-color:#23416b;
  transition:0.2s;
}

.homebtn{
  margin-left: 70vh;
  background-color: var(--dark);
  color:white;
  border-radius: 10px;
  padding:10px;
  text-decoration: none;
}
.homebtn:hover{
  background-color:#23416b;
  transition:0.2s;
}
#dbHEADER {
  top: var(--search_bar_height);
  position: sticky;
}
#wrapper {
  max-width: var(--db_width);
}
#db {
  margin-top      : 4vh;
  width           : var(--db_width);
  max-width       : 1200px;
  margin          : 10px;
  min-width       : 500px;
  border-collapse : separate;
  border-spacing  : 0px;
}
#db thead td {
  border-top     : var(--border_db);
  border-bottom  : var(--border_db);
  border-right   : var(--border_db);
  box-sizing: border-box;
}
#db td {
  text-align  : center;
  font-size: var(--font-size_td);
  border-bottom: var(--border_db);
  border-right: var(--border_db);
}
#db tbody td div {
  max-height: var(--standard_image_size)
}
#db td:first-child, #db thead:first-child {
  border-left: var(--border_db);
}

#dbHEADER > td {
  font-size: var(--font-size_td) + 2px;
  font-weight       : bold;
  background-color  : var(--blue);
  vertical-align    : middle;
  text-align        : center;
  padding-top       : 6px;
  padding-bottom    : 6px;
  padding-left: 0;
  padding-right: 0;
  box-sizing: border-box;
  border-collapse: separate;
}
tr {
  max-height: 200px;
}
img.photo {
  margin      : 0;
  display     : block;
  width       : var(--standard_image_size);
  height      : var(--standard_image_size);
}
td.photo {
  padding     : 0;
  max-width   : var(--standard_image_size);
  max-height: var(--standard_image_size);
  width       : var(--standard_image_size);
}
td.name {
  max-width   : var(--one-cell);
  padding: 0;
  align-items: center;
  padding     : var(--standard_padding) calc(var(--standard_padding) * 0.5);
}
.names {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding:5%;
  border-radius: 5px;
  background-color: #fff;
  border: var(--border)
}
.names > span {
  font-size: calc(var(--font-size_td) * 0.75)
}
div.names > label {
  overflow-x : scroll;
  white-space: nowrap;
  scrollbar-width: thin;
}
td.owner {
  padding     : var(--standard_padding);
  max-width   : var(--one-cell);
  width       : var(--one-cell);
}
td.account {
  padding     : var(--standard_padding);
  max-width   : var(--one-cell);
  width       : var(--one-cell);
}
.links > a{
  background-color: var(--blue);
  color:black;
  border-radius: 10px;
  border: 1px solid;
  padding: 12%;
  text-decoration: none;
  text-align: center;
  font-size: var(--font-size-link);
  overflow: hidden;
}
.links > a:hover{
  color:white;
  background-color: var(--dark);
  border: 1px solid white;
  transition:0.2s;
}
.links {
  display: flex;
  flex-direction: column;
}

td.typing {
  vertical-align  : top;
  padding     : 0;
  max-width   : var(--one-cell);
  width       : var(--one-cell);
  box-sizing: border-box;
}
td.typing > div {
  box-sizing  : border-box;
  padding: 0.5vw;
  width       : 100%;
  height      : var(--standard_image_size);
}
td.typing div textarea {
  display     : block;
  box-sizing  : border-box;
  width       : 100%;
  min-height      : 100%;
  text-align  : left;
  padding     : 2%;
  resize      : none;
  font-size   : calc(var(--font-size_td) - 1px);
  overflow-y: scroll;
}

td.description {
  vertical-align  : top;
  padding         : 0;
  box-sizing: border-box;
}
td.description > div {
  box-sizing  : border-box;
  padding: 0.5vw;
  width       : 100%;
  min-width   : var(--two-cell);
  height      : var(--standard_image_size);
}
td.description div textarea {
  display     : block;
  box-sizing  : border-box;
  width       : 100%;
  min-height      : 100%;
  text-align  : left;
  padding     : 1%;
  resize      : none;
  font-size   : calc(var(--font-size_td) - 1px);
  overflow-y: scroll;
}
.textarea {
  text-align: center;
  vertical-align: middle;
  word-wrap: break-word;
  padding: 10%;
  font-size: var(--font-size_td);
}
td.status {
  padding     : var(--standard_padding);
  max-width   : 5%;
  width   : 5%;
  word-wrap   : normal;
  text-align  : center;
  max-width   : var(--one-cell);
}
td.INVALID {
  padding     : var(--standard_padding);
  background  : red;
  font-weight : bold;
}
.INVALID {
  background  : #7F0000;
  font-weight : bold;
  color       : #FFF;
}
.row_odd {
  background-color: var(--lighter);
}
.row_even {
  background-color: var(--light);
}


#hide {
  display: none;
}

.aboutus {
  display: flex;
  flex-direction:column;
  border: 1px solid;
  padding-top: 25px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  border-radius: 10px;
  background-color:#c4dbeb;
  margin: 20px;
}
.aboutus > div {
  border: 1px solid;
  padding:10px;
  border-radius: 10px;
  background-color:#e9f5fc;
}
.twin_inputs {
  display: flex;
  flex-direction: row;
}
.name {
  width: 15%;
}
.hyperlink {
  width: 75%;
}