@font-face {
    font-family : "VCR OSD Mono";
    src         : url(/computerlingsdb/assets/fonts/VCR_OSD_MONO_1.001.ttf) format("truetype");
    src         : url(/computerlingsdb/assets/fonts/VCR_OSD_MONO_1.001.otf) format("opentype");
    src         : url(/computerlingsdb/assets/fonts/VCR_OSD_MONO_1.001.woff2) format("woff2");
    font-weight : normal;
}
   
:root {
  --standard_image_size: 200px;
  --standard_padding: 8px;
  --blue  : #7cbde9;
  --dark  : #3664a4;
  --light : #c1e6f8;
  --entrykey_maxwidth: 1200px;
}
* {
  font-family: "VCR OSD Mono","Segoe UI",system-ui;
}
body {
  margin:0; /* Set as 0 by default so the navbar stays fixed on top*/
  background-color: white;
  color: black;
  font-family: "VCR OSD Mono","Segoe UI";
}

h1, h2, h3, p, .returnbtn{
  margin: 10px;
}
.little_text { /* Little text that describes what to input under each field in the Petitions Form.*/
  font-size: 12px;
  word-wrap: normal;
  margin-block-start: 0px;
  margin-block-end: 4px;
  text-align: left;
  color: #444;
}
/* 404: ERROR PAGE CSS */
.notfound{
  margin-top:20px;
  display:grid;
  place-items:center;
}
/* 404: ERROR PAGE & Petition Form CSS*/
.notfound, .petitions h1{
  font-size:50px;
}
.notfound, .petitions p{
  font-size: 20px;
}
/* Petition Form CSS */
.petitions{
  margin-top:30px;
  gap:15px;
  display:grid;
  place-items:center;
}
textarea {
  max-height: 100px;
  height: 100px;
}
#hide > form, textarea {
  min-width: 400px;
  max-width: var(--entrykey_maxwidth);
  min-height: 100px;
}
form{
  display: flex;
  flex-direction:column;
  border: 1px solid;
  padding:40px;
  border-radius: 10px;
  background-color:#c4dbeb;
  max-width: 400px;
}
input[type=text], select, input[type="button"], button{ /* Styles for the textboxes, dropdown and button on the form */
  border-radius:5px;
  border: 1px solid;
  height: 30px;
}
input[type="button"]{ /* Styles for the button */
  background-color:#6cb5e6;
  cursor: pointer;
  border: 1px solid #7cbde9;
}
input[type="button"]:hover{ /* Styles for the button, when hovering on it */
  background-color:#304a5c;
  border-color: #304a5c;
  transition:0.2s;
  color:white;
}
button{
  background-color:#6cb5e6;
  cursor: pointer;
  border: 1px solid #7cbde9; 
}
button:hover{
  background-color:#304a5c;
  border-color: #304a5c;
  transition:0.2s;
  color:white;
}
.returnbtn{ /* Styles for the button in the error page (return to home button) */
  background-color: var(--blue);
  color:black;
  border-radius: 10px;
  padding:10px;
  text-decoration: none;
}
.returnbtn:hover{
  color:white;
  background-color: var(--dark);
  transition:0.2s;
}
/* Styling for where the entry key gets output */
#dump {
  font-size: 16px;
  text-align: center;
}
#your_entry {
  width: 400px;
}
#your_entry > p {
  font-size: 18px;
}
/* Styling for the navbar*/
.navbar{
  display:flex;
  align-items:center;
  background-color: var(--blue);
  padding: 0 2%;
  height:70px;
  gap:15px;
}

/* Button to access the petition.html / petition form */
.petitionbtn{
  margin-left: 0;
  background-color: var(--dark);
  color:white;
  border-radius: 10px;
  padding:10px;
  text-decoration: none;
}
.petitionbtn:hover{
  background-color:#23416b;
  transition:0.2s;
}

.infobtn{
  margin-left: 75vh;
  background-color: var(--dark);
  color:white;
  border-radius: 10px;
  padding:10px;
  text-decoration: none;
}
.infobtn:hover{
  background-color:#23416b;
  transition:0.2s;
}

table, td {
  margin:10px;
  border      : 3px solid black;
  border-collapse: collapse;
  text-align  : center;
  
}
#dbHEADER > td {
  font-weight       : bold;
  background-color  : var(--blue);
  vertical-align    : middle;
  text-align        : center;
  padding-top       : 4px;
  padding-bottom    : 4px;
}
img.photo {
  width       : var(--standard_image_size);
  height      : var(--standard_image_size);
  margin      : 0;
  display     : block;
}
td.photo {
  padding     : 0;
}
td.name {
  padding     : var(--standard_padding);
}
td.owner {
  padding     : var(--standard_padding);
}
td.account {
  padding     : var(--standard_padding);
}
td.account a{
  background-color: var(--blue);
  color:black;
  border-radius: 10px;
  padding:10px;
  text-decoration: none;
}
td.account a:hover{
  color:white;
  background-color: var(--dark);
  transition:0.2s;
}
td.typing {
  padding     : var(--standard_padding);
}
td.status {
  padding     : var(--standard_padding);
  max-width   : 150px;
  word-wrap   : normal;
  text-align  : center;
}
td.INVALID {
  padding     : var(--standard_padding);
  background  : red;
  font-weight : bold;
}
.INVALID {
  background  : #7F0000;
  font-weight : bold;
  color       : #FFF;
}
.row_alt {
  background-color: var(--light)
}

#hide {
  display: none;
}
